<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <title>Chapter 5 Challenge</title>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/home.css" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Icon -->
    <script src="js/all.min.js"></script>
  </head>

  <body>
    <!-- Page One -->
    <div class="bg bg-page-one">
      <!-- Navigation Bar -->
      <nav class="navbar navbar-fixed-top">
        <!-- Tulisan Logo Navbar -->
        <div class="container-one-navbar">
          <a href="#" class="nav-link sub-text">LOGO</a>
        </div>
        <!-- Tulisan yg di Tengah-Kiri Navbar -->
        <div class="container-two-navbar">
          <a href="#" class="nav-link sub-text">HOME</a>
          <a href="#" class="nav-link sub-text">WORK</a>
          <a href="#" class="nav-link sub-text">CONTACT</a>
          <a href="#" class="nav-link sub-text">ABOUT ME</a>
        </div>
        <!-- Tulisan yg di Kanan Navbar -->
        <div class="container-three-navbar">
          <a href="#" class="nav-link sub-text">SIGN UP</a>
          <a href="/login" class="nav-link sub-text">LOGIN</a>
        </div>
      </nav>
      <div class="row row-page-one row-one-page-one w-100">
        <!-- Tulisan yg di Tengah -->
        <div class="col col-page-one col-row-one-page-one w-100">
          <p class="header-one">PLAY TRADITIONAL GAME</p>
          <p class="body-text">Experience new traditional game play</p>
          <button type="button" class="btn btnbtn btn-warning">Play Now</button>
        </div>
      </div>
      <div class="row row-page-one row-two-page-one w-100">
        <!-- Tulisan yg di Bawah -->
        <div class="col col-page-one col-row-two-page-one w-100">
          <p class="sub-text">THE STORY</p>
          <img src="/assets/button-down.jpg" alt="" />
        </div>
      </div>
    </div>
    <!-- Page One END -->
    <!-- Page Two -->
    <div class="bg bg-page-two">
      <!-- Tulisan Pertama -->
      <div class="row row-page-two row-one-page-two w-100">
        <p class="body-text">What's so special?</p>
      </div>
      <!-- Tulisan Kedua & Carousel -->
      <div class="row row-page-two row-two-page-two w-100">
        <!-- Tulisan Kedua -->
        <div class="col col-4 col-one-row-two-page-two">
          <p class="header-one">THE GAMES</p>
        </div>
        <!-- Image Carousel -->
        <div class="col col-two-row-two-page-two">
          <div class="carousel slide">
            <div class="carousel-indicators">
              <img
                class="carousel-circles"
                src="/assets/button-fill.jpg"
                alt=""
              />
              <img
                class="carousel-circles"
                src="/assets/button-no-fill.jpg"
                alt=""
              />
              <img
                class="carousel-circles"
                src="/assets/button-no-fill.jpg"
                alt=""
              />
              <img
                class="carousel-circles"
                src="/assets/button-no-fill.jpg"
                alt=""
              />
              <img
                class="carousel-circles"
                src="/assets/button-no-fill.jpg"
                alt=""
              />
            </div>
            <div class="carousel-inner">
              <img
                src="/assets/rockpaperstrategy-1600.jpg"
                alt=""
                class="carousel-image"
              />
            </div>
            <button class="carousel-control carousel-control-prev">
              <img
                class="button-carousel"
                src="/assets/button-left.jpg"
                alt=""
              />
            </button>
            <button class="carousel-control carousel-control-next">
              <img
                class="button-carousel"
                src="/assets/button-right.jpg"
                alt=""
              />
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Two END -->
    <!-- Page Three -->
    <div class="bg bg-page-three">
      <div class="row row-page-three w-100 h-100">
        <div class="col col-7"></div>
        <div class="col col-5 column-page-three">
          <!-- Dua Tulisan Pertama -->
          <div class="row row-one-page-three">
            <p class="body-text">What's so special?</p>
            <p class="header-one">FEATURES</p>
          </div>
          <!-- Bulet-bulet and Tulisan Kedua -->
          <div class="row row-two-page-three">
            <!-- Bulet-bulet -->
            <div class="col col-1 col-one-row-two-page-three">
              <div class="image-page-tiga">
                <img
                  class="image-page-3"
                  src="/assets/button-fill.jpg"
                  alt=""
                />
              </div>
              <div class="image-page-tiga white-line-adjust">
                <img
                  class="image-page-3-line"
                  src="/assets/white-line.jpg"
                  alt=""
                />
              </div>
              <div class="image-page-3-adjust image-page-3-adjust-one">
                <div class="image-page-tiga">
                  <img
                    class="image-page-3 image-page-3-fill"
                    src="/assets/button-no-fill.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="image-page-3-adjust image-page-3-adjust-two">
                <div class="image-page-tiga">
                  <img
                    class="image-page-3 image-page-3-fill"
                    src="/assets/button-no-fill.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <!-- Tulisan Kedua -->
            <div class="col col-two-row-two-page-three">
              <p class="header-three">TRADITIONAL GAMES</p>
              <p class="sub-text page-three-text-four">
                If you miss your childhood,we provide many traditional games
                here
              </p>
              <div class="adjust-text">
                <p class="header-three">GAME SUIT</p>
                <p class="header-three">TBD</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Three END -->
    <!-- Page Four -->
    <div class="bg bg-page-four">
      <!-- The small tulisan di bagian atas -->
      <div class="row row-one-page-four w-100">
        <p class="sub-text">Can My Computer Run this game?</p>
      </div>
      <div class="row row-two-page-four w-100">
        <div class="col col-6 column-page-four">
          <!-- Judul -->
          <div class="title-page-four">
            <p class="header-one text-one-page-four">
              SYSTEM<br />REQUIREMENTS
            </p>
          </div>
          <!-- Tabel page 4 -->
          <div class="row table-page-four">
            <div class="col column-page-four border border-white">
              <p class="header-three">OS:</p>
              <p class="sub-text">
                Windows 7 64-bit only<br />(No OSX support at this time)
              </p>
            </div>
            <div class="col column-page-four border border-white">
              <p class="header-three">PROCESSOR:</p>
              <p class="sub-text">
                Intel Core 2 Duo @ 2.4 GHZ or <br />AMD Athlon X2 @ 2.8 GHz
              </p>
            </div>

            <div class="w-100"></div>

            <div class="col column-page-four border border-white">
              <p class="header-three">MEMORY:</p>
              <p class="sub-text">4 GB RAM</p>
            </div>
            <div class="col column-page-four border border-white">
              <p class="header-three">STORAGE:</p>
              <p class="sub-text">8 GB available space</p>
            </div>

            <div class="w-100"></div>

            <div class="col column-page-four border border-white">
              <p class="header-three">GRAPHICS:</p>
              <p class="sub-text">
                NVIDIA GeForce GTX660 2GB or <br />
                AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Four END -->
    <!-- Page Five -->
    <div class="bg bg-page-five">
      <div class="row row-page-five w-100 h-100">
        <!-- Judul, Penjelasan, & Button -->
        <div class="col col-one-page-five">
          <p class="row header-one">Top Scores</p>
          <p class="row body-text">
            This top score from various games provided <br />
            on this platform
          </p>
          <div class="page-5-button-container">
            <button type="button" class="btn btnbtn btn-warning">
              See More
            </button>
          </div>
        </div>
        <!-- Twitter Containers -->
        <div class="col col-two-page-five">
          <!-- Tweet One -->
          <div class="row w-100 tweet-one">
            <div class="container container-tweet">
              <div class="row row-one-container-tweet">
                <!-- Profile Picture -->
                <div class="col col-3 col-one-row-one-container-tweet">
                  <img src="/assets/evan-lahti.jpg" alt="" class="profilepic" />
                </div>
                <!-- Name and Role -->
                <div class="col col-two-row-one-container-tweet">
                  <div class="tweet-adjust-line-height">
                    <p class="header-three">Evan Lahti</p>
                    <p class="sub-text">PC Gamer</p>
                  </div>
                </div>
                <!-- Twitter Logo -->
                <div class="col col-three-row-one-container-tweet">
                  <img
                    src="/assets/logo-twitter.jpg"
                    alt=""
                    class="logo-tweet"
                  />
                </div>
              </div>
              <!-- Comment and Date -->
              <div class="row row-two-container-tweet">
                <p class="body-text tweet-body-text">
                  "One of my gaming highlights of the year."
                </p>
                <p class="sub-text sub-text-faint">October 18, 2018</p>
              </div>
            </div>
          </div>
          <!-- Tweet Two -->
          <div class="row w-100 tweet-two">
            <div class="container container-tweet container-tweet-large">
              <div class="row row-one-container-tweet">
                <!-- Profile Picture -->
                <div class="col col-3 col-one-row-one-container-tweet">
                  <img
                    src="/assets/jada-griffin.jpg"
                    alt=""
                    class="profilepic"
                  />
                </div>
                <!-- Name and Role -->
                <div class="col col-two-row-one-container-tweet">
                  <div class="tweet-adjust-line-height">
                    <p class="header-three">Jada Griffin</p>
                    <p class="sub-text">Nerdreactor</p>
                  </div>
                </div>
                <!-- Twitter Logo -->
                <div class="col col-three-row-one-container-tweet">
                  <img
                    src="/assets/logo-twitter.jpg"
                    alt=""
                    class="logo-tweet"
                  />
                </div>
              </div>
              <!-- Comment and Date -->
              <div class="row row-two-container-tweet">
                <p class="body-text tweet-body-text text-wrap">
                  "The next big thing in the world of streaming and survival
                  games."
                </p>
                <p class="sub-text sub-text-faint">October 21, 2018</p>
              </div>
            </div>
          </div>
          <!-- Tweet Three -->
          <div class="row w-100 tweet-three">
            <div
              class="
                container container-tweet container-tweet-large
                tweet-three
              "
            >
              <div class="row row-one-container-tweet">
                <!-- Profile Picture -->
                <div class="col col-3 col-one-row-one-container-tweet">
                  <img
                    src="/assets/aaron-williams.jpg"
                    alt=""
                    class="profilepic"
                  />
                </div>
                <!-- Name and Role -->
                <div class="col col-two-row-one-container-tweet">
                  <div class="tweet-adjust-line-height">
                    <p class="header-three">Aaron Williams</p>
                    <p class="sub-text">uproxx</p>
                  </div>
                </div>
                <!-- Twitter Logo -->
                <div class="col col-1 col-three-row-one-container-tweet">
                  <img
                    src="/assets/logo-twitter.jpg"
                    alt=""
                    class="logo-tweet"
                  />
                </div>
              </div>
              <!-- Comment and Date -->
              <div class="row row-two-container-tweet">
                <p class="body-text tweet-body-text text-wrap">
                  "Snoop Dogg playing the wildly entertaining 'SOS' is
                  ridiculous."
                </p>
                <p class="sub-text sub-text-faint">December 24, 2018</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Five End -->
    <!-- Page Six Start -->
    <div class="bg bg-page-sixx">
      <div class="container-page-6 w-100 h-100">
        <div class="row">
          <div class="container main-page-6">
            <div class="col-5 column-pic">
              <img src="/assets/patung-gold.jpg" alt="" />
            </div>
            <div class="col column-main-page-6">
              <!-- Judul Page 6 -->
              <div class="row row-main row-1-p-6 w-100 lh-1">
                <p class="body-text">Want to stay in<br />touch?</p>
                <p class="header-one">Newsletter<br />Subscribe</p>
              </div>
              <!-- Penjelasan -->
              <div class="row row-main row-2-p-6 w-100">
                <p class="sub-text text-wrap">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Tempore sunt aperiam nulla! Animi ducimus alias quaerat autem
                  quasi dolorem sed dolor dignissimos quidem maxime, amet
                  placeat natus odit non molestiae iure quae impedit quibusdam
                  sequi reiciendis doloremque
                </p>
              </div>
              <!-- Input & Button -->
              <div class="row row-main row-3-p-6 w-100">
                <form class="form-floating w-50">
                  <input
                    type="email"
                    class="form-control body-text body-text-gold"
                    id="floatingInputValue"
                    placeholder="youremail@binar.co.id"
                    value="youremail@binar.co.id"
                  />
                  <label
                    for="floatingInputValue"
                    class="sub-text sub-text-faint"
                    >Your email address</label
                  >
                </form>
                <button type="button" class="btn btnbtn btn-warning">
                  Subscribe Now
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <nav class="navbar-fixed-bottom">
            <div class="col"></div>
            <div class="col col-footer">
              <div class="container-footer">
                <a href="#" class="nav-link sub-text">MAIN</a>
                <a href="#" class="nav-link sub-text">ABOUT</a>
                <a href="#" class="nav-link sub-text">GAME FEATURES</a>
                <a href="#" class="nav-link sub-text">SYSTEM REQUIREMENTS</a>
                <a href="#" class="nav-link sub-text">QUOTES</a>
                <div class="container-image-footer">
                  <img clas="foo-image" src="/assets/facebook.png" alt="" />
                  <img clas="foo-image" src="/assets/twitter.png" alt="" />
                  <img clas="foo-image" src="/assets/Vector.png" alt="" />
                  <img
                    clas="foo-image foo-image-twitch"
                    src="/assets/twitch.png"
                    alt=""
                  />
                </div>
              </div>
              <hr />
              <div class="container-footer">
                <p class="sub-text sub-text-faint">
                  &copy;2018 Your Games, Inc. All Rights Reserved
                </p>
                <p class="sub-text">
                  PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT
                </p>
              </div>
            </div>
            <div class="col"></div>
          </nav>
        </div>
      </div>
    </div>
    <!-- Page Six End -->
  </body>
</html>
